* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}


/* Layout */

#cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo,
#area-menu {
    padding: 10px;
}


/* geral */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#cabecalho a:link,
#cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#cabecalho a:hover {
    color: #f7b600;
    background: #FFF;
    text-decoration: none;
}

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagens {
    width: 660px;
    float: left;
}

#menu-lateral {
    width: 240px;
    float: right;
}

#rodape {
    background: #CCC;
    clear: both;
    text-align: center;
    padding: 15px;
}

.artigo {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFF;
}

h2 {
    color: #f7b600;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.data-postagem {
    font-size: 0.8;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 0.8;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}